APP_ENV=development
APP_BASE_URL=http://localhost:3000

SESSION_SECRET=replace-with-strong-secret
COOKIE_SECURE=false

DB_BINDING=D1_DB
R2_BUCKET_NAME=scholarship-dev

BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_CALLBACK_URL=

NAGAD_MERCHANT_ID=
NAGAD_MERCHANT_PRIVATE_KEY=
NAGAD_CALLBACK_URL=
